body {
  line-height: 1.5;
}

p {
  margin: 0;
}

code {
  margin: 0;
}

blockquote
{
  margin: 0;
}

table
{
  margin: 0;
}

ul, ol
{
  margin: 0;
}

ul li, ol li
{
  margin: 0;
}

dl dt {
  margin: 0;
}

dl dd {
  margin: 0;
}
